#collapse-search.panel-collapse.collapse
  .panel-body
    .row
      .col-md-3
        .input-group
          .full-width
            %label
              regional
          .full-width
            %input
        .input-group
          .full-width
            %label
              materia
          .full-width
            %input
          
      .col-md-3
        .input-group
          .full-width
            %label
              sede
          .full-width
            %input
        .input-group
          .full-width
            %label 
              curso origen 
          .full-widthorigen
            %input
      .col-md-3
        .input-group
          .full-width
            %label
              especialidad
          .full-width
            %input
        .input-group
          .full-width
            %label 
              curso destino
          .full-widthdestino
            %input

      .col-md-3
        .input-group
          .full-width
            %label
              profesor
          .full-width
            %input
        .input-group
          .full-width
            %label 
              turno
          .full-width
            %input

    .form-actions.text-center
      %button.btn.btn-primary
        Filtrar