%table.table.table-striped.table-responsive
  %thead
    %tr
      %th
        regional
      %th
        especialidad
      %th
        curso origen
      %th
        curso destino
  %tbody
    %tr
      %td
        FRBA
      %td
        sistemas
      %td
        k3078
      %td
        k2056